.carde{
    max-width: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border: solid 1px #BFFF00;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.9s;
    margin: 4px;
}
/* .card1:hover{
    border: solid 1px red;

    scale: 1;
} */
.elipsel{
    width: 100%;
    height: 12rem;
    background-color: gray;
    border-radius: 10px;
}
.card2{
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap:1px;
    align-items: flex-start;
}
.nl{
    margin-top: -0.7rem;
}
.t2{
    padding: 0 6px;
    margin-top: 0.2rem;
}
.t1{
    padding: 0 6px;
    margin-top: -0.8rem;
}
.divi1{
    display: flex;
    flex-direction: row;
    max-width: 100%;
    width: 100%;
    align-items: center;
    margin-top: -1rem;
    justify-content: space-between;
}
.divi{
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
    justify-content:flex-start;
}
/* @media (max-width:1130px) {
    .carde {
        max-width: 100%;
        width: 50%;
    }
} */