.headerLogin {
    width: 100%;
    display: flex;
    height: 50%;
}

.logoHeaderLogin{
    display: flex;
    justify-content: center;
    width: 100%;
}

.logoHeaderLogin > img{
    width: 10%;
}
.ip{
    border: none;
    border-bottom: 2px #C4DC79 solid;
    max-width: 100%;
    width: 64%;
    height: 2rem;
    border-radius: 6px;
    padding: 0 20px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: 0.8s;
}
#btt2 {
    max-width: 30%;
    width: 50%;
    height: 2rem;
    border: none;
    border-radius: 6px;
    padding: 0 20px;
    font-size: 1.2rem;
    cursor: pointer;
    background: #0A5F55;
    transition: 0.8s;
}

#btt {
    max-width: 30%;
    width: 50%;
    height: 2rem;
    border: none;
    border-radius: 6px;
    padding: 0 20px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: 0.8s;
}

#btt:hover {
    background: #16d516;
    color: #f7f7f7;
    font-weight: 800;
}

#btt2:hover {
    background: #0A5F55;
    color: #000000;
    font-weight: 800;
}

.login {
    max-width: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.forme {
    max-width: 40%;
    width: 100%;
    height: 20rem;
    border: solid 1px #fff;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    padding: 5px;
    background: #fff;
    border-radius: 5px;
}

.bem{
    color: #0A5F55;
    font-size: 2rem;
}

.perfil {
    max-width: 100%;
    width: 100%;
    gap: 20px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

#bt {
    max-width: 30%;
    width: 50%;
    height: 2rem;
    border: none;
    border-radius: 6px;
    padding: 0 20px;
    font-size: 1.2rem;
    cursor: pointer;
    background: #0A5F55;
    transition: 0.8s;
}

#bt2 {
    max-width: 30%;
    width: 50%;
    height: 2rem;
    border: none;
    border-radius: 6px;
    padding: 0 20px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: 0.8s;
}

#bt:hover {
    background: #16d516;
    color: #f7f7f7;
    font-weight: 800;
}

#bt2:hover {
    background: #0A5F55;
    color: #000000;
    font-weight: 800;
}

.campos {
    max-width: 100%;
    width: 100%;
    gap: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}

.voltar {
    max-width: 100%;
    width: 100%;
    height: 2.5rem;
    border: none;
    border-radius: 6px;
    padding: 0 40px;
    font-size: 1rem;
    cursor: pointer;
    background: none;
    transition: 0.8s;
    color: #C4DC79;
    font-weight: 400;
    text-decoration-line: underline; 
}

@media (max-width:823px) {
    .forme {
        max-width: 70%;
        width: 80%;
    }
    .voltar{
        margin-left: 15.5%;
    } 
}

@media (max-width:543px) {
    .forme {
        max-width: 80%;
        width: 80%;
    }
    .voltar{
        margin-left: 10.5%;
    }
    
    .perfil {
        max-width: 100%;
        width: 100%;
        gap:20px;
    }
    #bt{
        max-width: 40%;
    }
    #bt2{
        max-width: 40%;
    }
    .ip{
        width: 85%;
    }
}
@media (max-width:363px)
{
    .forme {
        max-width: 100%;
        width: 100%;
        text-align: center;
        height: 30%;
    }
    #bt{
        max-width: 45%;
    }
    #bt2{
        max-width: 45%;
    }
}