.lista2 {
    overflow-y: scroll;
    max-width: 100%;
    width: 90%;
    height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 2px solid #7B0C05;

}

.lista2::-webkit-scrollbar {
    width: 10px;
 
    /* width of the entire scrollbar */
}

.lista2::-webkit-scrollbar-track {
    background: #dddbdb;
    
    /* color of the tracking area */
}

.lista2::-webkit-scrollbar-thumb {
    background-color: #7B0C05;
    /* color of the scroll thumb */
    border-radius: 50px;
    width: 100px;
    /* roundness of the scroll thumb */
    border: 3px solid #7B0C05;
    /* creates padding around scroll thumb */
}

.numero2 {
    margin-top: 2rem;
    max-width: 100%;
    width: 100%;
    display: flex;
    gap: 10px;
    flex-direction: row;
    padding: 5px;
    justify-content: center;
    align-items: center;
}
@media (max-width:1150px){
    .numero2{
        max-width: 100%;
        width: 90%;
    }
}
@media (max-width:800px){
    .numero2{
       
        max-width: 100%;
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}
@media (max-width:570px){
    .numero2{
        max-width: 100%;
        width: 100%;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
    }
}