.vendasTable {
    width: 80%;
    border-collapse: collapse;
    margin-top: 20px;
}

.vendasTable th,
.vendasTable td {
    padding: 10px;
    border-bottom: 1.5px #C4DC79 solid;
    text-align: center;
}

.vendasTable th {
    background-color: #0A5F55;
    color: white;
    font-weight: bold;
}

.vendasTable tr:hover {
    background-color: #e3f3b3;
}

.allVendas {
    width: 100%;
    display: flex;
    justify-content: center;
}

.sort-arrow {
    width: 0;
    height: 0;
    display: inline-block;
    vertical-align: middle;
    border: 6px solid transparent;
    margin-left: 5px;
}

.asc {
    border-bottom: 6px solid #ffff;
}

.desc {
    border-top: 6px solid #ffff;
}