.nomeloja{
    max-width: 100%;
    width: 95%;
    border: solid 1px #0A5F55;
    height: 6rem;
    display: flex;
    flex-direction: row;
    padding: 0 10px;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    background-color: #fff;
}
.elipse2{
    background-color: gray;
    width: 75px;
    height: 70px;
    border-radius: 50%;
}
.perfilLoja{
    max-width: 14%;
    width: 50%;
    display:flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.2rem;
    color: #0A5F55;
    /* color: #fff; */
}
.divdados{
    margin-left: 62%;
    max-width: 30%;
    width: 10%;
    padding: 10px;
    border-right: solid 3px gray;
}
.dados{
    display:flex;
    gap:10px;
    justify-content: center;
    align-items: center;
    color:#B1D34B;
}
.sobre{
    
    color:#0A5F55;
}


.selects{
    /* border: solid 1px #0A5F55; */
    display:flex;
    max-width: 100%;
    width: 100%;
    flex-wrap: wrap-reverse ;
    gap: 10px;
    justify-content: space-around;
    align-items: center;
}
.divisor{
    display:flex;
    max-width: 80%;
    width: 50%;
    gap:10px;
    justify-content: center;
    align-items: center;   
    flex-wrap: wrap;
    border-bottom: 3px  solid #730e0e;
}
.selec1{
    max-width: 90%;
    width: 29%;
    display: flex;
    padding: 5px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.8s;
    gap: 10px;
    
}
.selec1:hover{
    background-color: #0A5F55;
    color: #fff;
    border-radius: 10px;
}
select{
    /* border: none; */
    width: 40%;
    border: none;
    outline: none;

}
.icons3{
    flex-wrap: wrap;
    max-width: 40%;
    width: 80%;
    display: flex;
    gap:70px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.imgcard2{
    color:#fff;
}


@media (max-width:1150px){
        .perfilLoja{
            max-width: 30%;
            width:20%;
        }
        
        .divdados{
            margin-left: 50%;
            max-width: 10%;
            width: 100%;
        }
       
      
}
@media (max-width:991px) {
    
    .lista2{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 100%;
        width: 100%;
    }

}
@media (max-width:891px) {
    .nomeloja{
        max-width: 100%;
        justify-content: space-between;
        gap:20px;
    }
    .perfilLoja{
        gap:10px;
        max-width: 80%;
        width:100%;

        
    }
    .icons3{
        max-width: 100%;
        width: 100%;
    }
    .elipse2{
        margin-left: -20%;
    }
    .divdados{
        margin-left: 30%;
        max-width: 30%;
        width: 40%;
    }
    .sobre{
        max-width: 40%;
        width: 60%;
    }
  
    .divisor{
        max-width: 90%;
        width: 100%;
    }
    .nomeloja{
        max-width: 90%;
        width: 100%;
        justify-content: center;
        align-items: center;
        align-content: center;
        
    }
    .perfilLoja{
        margin-left: 10%;
    }
}
@media (max-width:650px) {
    .divisor{
        max-width: 100%;
        width: 100%;
        gap:2px;
        justify-content: space-between;
    }
    .selec1{
        width: 33%;
    }
    .nomeloja{
        max-width: 100%;
        width: 100%;
    }
    .n{
        font-size: 1rem;
    }
    .nomeloja{
        gap:2px;
    }
    .divdados{
        margin-left: 24%;
    }
}
@media (max-width:460px) {
    .nomeloja{
        margin-top: -4.5rem;
        height: 10.5rem;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;

    }
    .perfilLoja{
        margin-top: 0.3rem;
    }
    .divdados{
        margin-left: 2%;
    }
    .icons3{
        max-width: 100%;
        width: 100%;
        gap:1px;
        justify-content: space-between;
    }
    .divisor{
        max-width: 100%;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        gap:7px;
        flex-wrap: wrap;
    }
    .selec1{
        max-width: 70%;
        width: 100%;
    }
}