* {
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

.corpo {
    background-color: #fff;
}

header {
    max-width: 100%;
    width: 100%;
    height: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    /* border:solid green 2px; */
    background: #0A5F55;
    background-image: url("../fruits.png");
    background-size: 110%;
}

.logo {
    max-width: 40%;
    width: 70%;
    padding: 5px;
}
.categorias{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 30px;
}
.categorias a{
    color: #0A5F55;
    border-bottom: 2px #C4DC79 solid;
    border-radius: 6px;
    padding: 5px;
    cursor: pointer;
    transition: 0.8s;
}
.categorias a:hover{
    border-bottom: 2px #B1D34B solid;
}
.cliente {
    max-width: 100%;
    width: 100%;
    background-color: #fff;
}

.headerCenter {
    max-width: 60%;
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 5px;

}

a {
    text-decoration: none;
    color: #fff
}

.sessao {
    margin-top: 1rem;
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.divisao1 {
    max-width: 80%;
    width: 100%;
    /* border:solid 1px green; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.subdivisao {
    max-width: 100%;
    width: 100%;
    height: 18rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.frutas {
    max-width: 30%;
    width: 100%;

}

.ft {
    width: 18rem;
}

.ft2 {
    width: 16rem;
}

.textos2 {
    margin-left: -9rem;
    max-width: 100%;
    width: 100%;
    font-size: 1.5rem;
    /* border: solid 1px red; */
    color: #000000;
}

.tx2 {
    margin-top: -1.6rem;
}

.lojasparte {
    max-width: 100%;
    width: 89%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pesquLojas {
    max-width: 100%;
    width: 89%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    border: none;
}

.divip {
    max-width: 40%;
    width: 100%;
}

.ip1 {
    max-width: 100%;
    width: 100%;
    border: none;
    border-bottom: 2px #C4DC79 solid;
    border-radius: 6px;
    height: 2.5rem;
    padding: 0 20px;
    font-size: 1.2rem;

    cursor: pointer;
    transition: 0.8s;
}

@media (max-width:1080px) {
 

    .headerCenter {
        gap: 4px;
    }

    header {
        width: 100%;
        gap: 4px;
    }

    .quadrado {
        width: 100%;
    }

    .lojasparte {
        max-width: 100%;
        width: 100%;
    }
}

@media (max-width:870px) {
    .sessao {
        margin-top: 1.4rem;
        display: flex;
        justify-content: column;
        align-items: center;
        flex-wrap: wrap;
        padding: 6px;
    }

    .divisao1 {
        margin-top: -2rem;
        padding: 6px;
    }

    .subdivisao {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .quadrado {
        max-width: 100%;
        width: 95%;
        height: 35%;
        margin-top: -1rem;
    }

    .cardprocurar {
        max-width: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 80px;
        margin-top: 1rem;
    }

    .procurar {
        width: 45%;
    }

    .lup {
        margin-left: 4rem;
    }
}

@media (max-width:772px) {
    .lojasparte {
        max-width: 100%;
        width: 100%;
    }

    .lista {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        max-width: 100%;
        width: 100%;

        /* flex-wrap: wrap; */
    }

    .cardl {
        max-width: max-content;
        width: 30%;
    }

    .divisao1 {
        max-width: 100%;
        width: 100%;
        gap: 10px;

    }

    .ft {
        width: 12rem;
    }

    .ft2 {
        margin-top: 4.6rem;
        margin-left: -2rem;
        width: 12rem;
    }

    .textos2 {
        text-align: center;
        font-size: 1.5rem;
    }

    .cardprocurar {
        max-width: 100%;
        width: 100%;
        gap: 5px;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap-reverse;

    }

    .procurar {
        width: 100%;
    }

    .icons {
        max-width: 40%;
        width: 50%;
    }

    .lup {
        margin-left: 9rem;
    }

    .wel {
        width: 100%;
    }
}

@media (max-width:596px) {
    .numero1 {

        flex-wrap: wrap;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .lojasparte {
        max-width: 96%;
        width: 100%;
    }

    .lista {
        max-width: 100%;
        width: 60%;
    }

    .divisao1 {
        display: flex;
    }

    .ft {
        width: 11rem;
    }

    .ft2 {
        margin-top: 5.6rem;
        width: 11rem;
        margin-left: -2rem;
    }

    .textos2 {
        text-align: center;
        font-size: 1.5rem;
    }
}

@media (max-width:568px) {
    .numero1 {
        max-width: 100%;
        width: 60%;
        flex-wrap: wrap;
    }

    .divisao1 {
        flex-wrap: wrap;
    }

    .image {
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .icons {
        max-width: 100%;
    }

    .quadrado {
        margin-top: 2rem;
    }

    .procurar {
        max-width: 100%;
    }

    .icons {
        width: 100%;
    }

    .headerCenter {
        font-size: 0.9rem;
        justify-content: center;
        max-width: 100%;
    }

    .wel {
        width: 50%;
    }
}

@media (max-width:458px) {
    .lojasparte {
        max-width: 100%;
        width: 100%;
    }

    .lista {
        max-width: 100%;
        width: 100%;
    }

    .cardl {
        max-width: 100%;
        width: 100%;
        height: 12rem;
    }

    .sessao {
        margin-top: 5rem;
        gap: 1px;
    }

    .quadrado {
        height: 37rem;
    }

    .subdivisao {
        display: flex;
        width: 100%;
        margin-top: -2rem;
        height: 10rem;
        justify-content: center;
        align-items: center;
    }

    .textos2 {
        width: 100%;
        font-size: 1.2rem;
    }

    header {
        flex-wrap: wrap-reverse;
        height: 7em;
        max-width: 100%;
        width: 100%;
        align-items: center;
        justify-content: center;
        gap: 5px;
    }

    .headerCenter {
        max-width: 100%;
        width: 100%;
        gap: 2px;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .quadrado {
        width: 100%;
        gap: 5px;
    }

    .cardl h3 {
        width: 5em;
    }


}