* {
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

body {
    background: #7B0C05;
}

.cabeca{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    max-width: 100%;
    width: 100%;
}
.botoes1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 0.5rem;
    max-width: 60%;
    gap:10px;
    width: 17%;
}
.bt1{
    width: 7rem;
    height: 2.3rem;
    font-size: 1.2rem;
    padding: 0 0.4rem;
    border-radius: 15px;
    border: solid 3px #64cf41;
    outline: none;
    cursor: pointer;
    background: transparent;
    color: #67d243;
    transition: 1s;
}
.bt1:hover{
    background: #64cf41;
    color:#7B0C05;
    font-weight: 800;
}
.logo{
    color: #67d243;
}
section{
    margin-top: 3%;
    max-width: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap:20px;
    flex-wrap: wrap-reverse;
    padding: 5px;
    margin-top: 5%;
}
.div1{
    max-width: 57%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.textos{
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: flex-start;
    color:aliceblue;
    font-size: 1.4rem;
    
}
.p1{
    margin-top: -0.7rem;
}
.botoes2{
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: flex-start;
    align-items: flex-start;
}
.bt2{
    width: 9.5rem;
    height: 2.3rem;
    font-size: 1.2rem;
    padding: 0 0.4rem;
    border-radius: 15px;
    border: solid 3px #64cf41;
    outline: none;
    cursor: pointer;
    background: #64cf41;
    color: #7B0C05;
    font-weight: 800;
    transition: 0.6s;
}
.bt2:hover{
    background: #7B0C05;
    color:#64cf41;
    font-weight: 800;
}
.bt3{
    width: 11rem;
    height: 2.3rem;
    font-size: 1.2rem;
    padding: 0 0.4rem;
    border: none;
    outline: none;
    cursor: pointer;
    background: transparent;
    color: #ffffff;
    font-weight: 800;
    transition: 0.5s;
}
.bt3:hover{
    border-bottom: 3px #67d243 solid;
}
.div2{
    max-width: 30%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.image{
    max-width: max-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
img{
    max-width: max-content;
    width: 100%;
}

@media (max-width: 670px) {
    .bt1{
        width: 7rem;
        height: 1.9rem;
        font-size: 1.3rem;
        padding: 0 0.4rem;
    }
    .cabeca{
        max-width: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .botoes1{
        gap:10px;
    }
    section{
        max-width: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .div1{
        max-width: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        text-align: flex-start;

    }
    .textos{
        max-width: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center ;
        font-size:1rem;
    }
    .botoes2{
        max-width: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
        text-align: flex-start;
    }
    .div2{
        max-width: max-content;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

@media (max-width: 510px) {

    .cabeca{
        max-width: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content:space-around;
        
    }
    .botoes1{
        gap:10px;
    }
    .bt1{
        width: 6rem;
        height: 1.6rem;
        font-size: 1rem;
        padding: 0 0.4rem;
        border-radius: 15px;
        border: solid 3px #64cf41;
        outline: none;
        cursor: pointer;
        background: transparent;
        color: #67d243;
        transition: 1s;
    }
    .textos{
        font-size: 0.7rem;
    }
    .bt2{
        width: 8rem;
        height: 1.6rem;
    }
    .bt3{
        width: 10rem;
        height: 1.6rem;
    }
}


@media (max-width: 310px) {
    .cabeca{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .bt1{
        width: 4rem;
        font-size: 0.8rem;
    }
    .bt2{
        width: 6rem;
        font-size: 0.8rem;
    }
    .bt3{
        width: 8rem;
        font-size: 0.8rem;
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    .div2{
        width: 100%;
    }
    img{
        width: 100%;

    }
}