.quadrado{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: solid 2px #BFFF00;
    max-width: 100%;
    width: 80%;
    margin-top: -1rem;
    border-radius: 20px;
    background: #fff;
    padding: 3x;
    gap: 5px;
    height: 8rem;
    flex-wrap: wrap;
}
